{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [1, { "forbid": ["any"] }],
    "react/no-find-dom-node": "off",
    "react/require-default-props": "off",
    "max-len": [
      "error",
      100,
      { "ignoreComments": true, "ignoreRegExpLiterals": true }
    ],
    "jsx-a11y/no-static-element-interactions": "off",
    "no-underscore-dangle": "off",
    "camelcase": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "no-useless-escape": "off",
    "comma-dangle":["error",{
        "arrays": "always",
        "objects": "always",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
    }],
    "no-param-reassign": ["error", { "props": false }]
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "globals": {
    "ol": false,
    "window": false,
    "document": false,
    "WebSocket": false,
    "VERSION": false,
    "FileReader": false,
    "localStorage": false,
    "fetch": false
  }
}
